@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#f8f5f0] text-[#0d1117] antialiased;
        font-family: 'Cairo', sans-serif !important;
    }

    * {
        font-family: 'Cairo', sans-serif !important;
    }
}